services: 
  postgres_cpd: # postgres instance for CPD ETL pipeline
    image: postgres:16
    container_name: postgres_cpd_dev
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: cpd_db
    ports:
      - "5433:5432" # Postgres is already on port 5432 on my local machine
    volumes: # TODO: mount SQL init scripts, change to avoid conflicts?
      - pgdata_cpd:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - metanet1
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_dev
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8081:80"
    depends_on:
      - postgres_cpd
    networks:
      - metanet1
  metabase: # taken from https://www.metabase.com/docs/latest/installation-and-operation/running-metabase-on-docker
    image: metabase/metabase:latest
    container_name: metabase
    hostname: metabase
    volumes:
      - /dev/urandom:/dev/random:ro
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabaseappdb
      MB_DB_PORT: 5432 
      MB_DB_USER: ${METABASE_DB_USER}
      MB_DB_PASS: ${METABASE_DB_PASSWORD}
      MB_DB_HOST: postgres_metabase # must match container name of postgres_mb (Metabase Postgres instance)
    networks:
      - metanet1
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
  postgres_mb: # postgres instance for managing Metabase instance
    image: postgres:16
    container_name: postgres_metabase # other services must use this name to communicate with this container
    hostname: postgres_metabase # internal identifier, doesn't impact communication with other services (helpful for logs)
    environment:
      POSTGRES_USER: ${METABASE_DB_USER}
      POSTGRES_DB: metabaseappdb
      POSTGRES_PASSWORD: ${METABASE_DB_PASSWORD}
    ports:
      - "5434:5432" 
    volumes:
      - pgdata_mb:/var/lib/postgresql/data
    networks:
      - metanet1

# Here, we'll define separate volumes to isolate DB configuration & data files for each Postgres database.
# Our Postgres DB for our application should store its config/data separately from the Postgres DB our Metabase service relies on.
volumes:
  pgdata_cpd:
  pgdata_mb:

# define the network over which all the services will communicate
networks:
  metanet1:
    driver: bridge # TO DO: 'bridge' is the default network - services will be able to communicate with each other using their service names

